* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  background-color: #fcf680;
  padding: 50px 20px;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.card {
  background: #f4f6f8;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.2s ease;
}

.card:hover {
  transform: translateY(-6px);
}


.card img {
  width: 100%;
  height: 200px;          
  object-fit: cover;      
  border-radius: 8px;
  margin-bottom: 15px;
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 20px;
  font-size: 0.95rem;
  color: #555;
  line-height: 1.4;
}

.card button {
  padding: 10px 14px;
  border: none;
  border-radius: 8px;
  background-color: #1e1919;
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin-top: auto; 
}

.card button:hover {
  background-color: #1e40af;
}


.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 12px;
  max-width: 700px;
  width: 100%;
  max-height: 85vh;
  overflow-y: auto;
  position: relative;
  animation: aparecer 0.2s ease-out;
}


.modal-content h2 {
  margin-bottom: 15px;
}

.modal-content p {
  margin-bottom: 20px;
  line-height: 1.5;
  color: #555;
}

.modal-content img {
  width: 100%;
  max-height: 60vh;
  object-fit: contain;
  border-radius: 12px;
}


.fechar {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
}

.fechar:hover {
  color: rgb(12, 4, 4);
}



@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
